.spenden-banner-area {
  background: url("../images/lucas-favre-JnoNcfFwrNA-unsplash.jpg") repeat scroll center center / cover;
  height: 60vh;
  width: 100%;
}
.mein_eigenes_label{
  min-height:60px;
}
