{% extends 'base_app/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="mu-calc-content" id="calculator">
	<div class='row'>
		<div class="col-md-4">
			{% if mein_zusatz_context %}
			        <p>{{ mein_zusatz_context.meine_frage }}</p>

				<p>			  {{ mein_zusatz_context.mein_zweites_ergebnis }}</p>
			    {% endif %}

			<form method="post">
				{% csrf_token %}


				<h4>WOHNEN</h4>
				<div class="form-group">
					{{ form }}

				</div>
				<input type="submit" class="btn btn-primary" value="Ok"> <br>



				<h3>{{ test }}</h3>

				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#TeilnehmenModal">
					JETZT TEILNEHMEN
				</button>
				<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SuccessOrNotModal">
													SUCCESS or NOT
												</button> -->
			</form>

		</div>
	</div>
</div>



<form method="post">
	{% csrf_token %}


	<div class="form-group">

	<p></p>

	</div>
	<input type="submit" class="btn btn-primary" value="Ok"> <br>


	<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SuccessOrNotModal">
										SUCCESS or NOT
									</button> -->
</form>


{% endblock %}
