{% extends 'base_app/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block head %}

{% endblock %}
{% block content %}

<body>

  <div class="container-fluid">
    <div class="row">


      <!-- slider banner	 -->

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        {% for element in background_cotnent %}
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="info">
              <h1>{{ element.title }}</h1>
              <p>{{ element.content }}</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="info">
            <h1>{{ element.title2 }}</h1>
              <p>{{ element.content2 }}</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="info">
              <h1>{{ element.title3 }}</h1>
              <p>{{ element.content3 }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

</body>

<section class="causes-area section-gap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 section-title">
        {% for element in unser_vision  %}
        <h2>{{ element.title }}</h2>
        <p>
          {{ element.description }}
        </p>
        {% endfor %}
        <a href="http://127.0.0.1:8000/about/">about us</a>
      </div>
    </div>
    <div class="row">
      {% for element in meinebeschreibungen %}
      <div class="col-md-4">
        <div class="single-cause">
          <div class="top">
            <div class="thumb">
              <img src="{% if element.img %}{{ element.img.url }}{% else %}{% static 'img/download.png' %}{% endif %}" class="c-img img-fluid" alt="me">
            </div>
            <div class="mu-info-content-single">
              <a href="#">
                <h3>{{ element.title }}</h3>
              </a>
              <br>
              <p>
                {{ element.description }}
              </p>
              <div class="multi-collapse collapse" id="multiCollapseExample1_{{element.id}}" aria-expanded="false" style="height: 0px;">
                {{ element.description_full }}
              </div>
              <a class="readmore collapsed" data-toggle="collapse" href="#multiCollapseExample1_{{element.id}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample_{{element.id}}">Read More</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      {% for element in treeathlon_zahlen %}
      <div class="col-lg-4 col-md-8">
        <div class="text">
          <h2>{{ element.title }}</h2>
          <br>
          <p>
            {{ element.content }}
          </p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-6">
        <div class="collection-box">
          <p><small>Team Mitglieder</small></p>
          <h3 class="color1"><span class="counter">{{ anzahl_team_mitglieder }}</span> </h3>
          <i class="lnr lnr-arrow-up"></i>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-6">
        <div class="collection-box">
          <p><small>Partner</small></p>
          <h3><span class="counter">{{ anzahl_team_partner }}</span> </h3>
          <i class="lnr lnr-arrow-up"></i>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-6">
        <div class="collection-box">
          <p><small>Teilnehmer</small></p>
          <h3 class="color3"><span class="counter">{{anzahl_teilnehmer}}</span></h3>
          <i class="lnr lnr-arrow-up"></i>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-6">
        <div class="collection-box">
          <p><small>Spenden €</small></p>
          <h3 class="color4"><span class="counter">{{ element.spenden_number }}</span> </h3>
          <i class="lnr lnr-arrow-up"></i>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>





</section>
<br>
<br>
<br>
{% endblock %}

{% block js %}

{% endblock %}
