{% extends 'base_app/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'contact_app/main.css' %}">
{% block content %}


<section class="page-section cta">
  <div class="container">



    	<div class="contact1">
    		<div class="container-contact1">
    			<div class="contact1-pic js-tilt" data-tilt>
    				<img src="{% static 'contact_app/images/img-01.png' %}" alt="IMG">
    			</div>

  <h1> Vielen Dank für Ihre Nachricht! </h1>
    		</div>
    	</div>




  </div>
</section>
{% endblock %}
{% endblock %}
